version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: napasa-backend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      HOST: 0.0.0.0
      PORT: 5000
      MONGODB_URI: mongodb+srv://shedcodes:SHEDRACKs.677@cluster1.l5p3lpp.mongodb.net/napasa?retryWrites=true&w=majority&appName=Cluster1
      CLIENT_URL: http://localhost:3000
    volumes:
      - ./uploads:/usr/src/app/uploads
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: napasa-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:






